@import "tailwindcss";

@font-face {
  font-family: "Tilda Sans";
  src: url("./assets/TildaSans/TildaSans-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Tilda Sans";
  src: url("./assets/TildaSans/TildaSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Tilda Sans";
  src: url("./assets/TildaSans/TildaSans-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Tilda Sans";
  src: url("./assets/TildaSans/TildaSans-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Tilda Sans";
  src: url("./assets/TildaSans/TildaSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Tilda Sans";
  src: url("./assets/TildaSans/TildaSans-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Tilda Sans";
  src: url("./assets/TildaSans/TildaSans-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@layer base {
  * {
    box-sizing: border-box;
  }

  html {
    font-family: 'Tilda Sans', sans-serif;
  }

  body {
    font-family: 'Tilda Sans', sans-serif;
    background-color: #020818;
    overflow-x: hidden;
  }

  .typed-cursor {
    color: #2c55de;
  }

  @keyframes scroll {
    to {
      transform: translateX(calc(-100%/3 - 3px));
    }
  }

  .animate-scroll {
    animation: scroll 10s linear infinite;
  }

  .swiper-scrollbar {
    background-color: green !important;
    border-radius: 0 !important;
    background-color: transparent !important;
    border-bottom: 1px solid #232c3e !important;
  }

  .swiper-scrollbar-drag {
    background-color: blue !important;
    border-radius: 0 !important;
    background-color: #232c3e !important;
  }

  /* move horizontal scrollbar to top */
  .swiper-horizontal>.swiper-scrollbar {
    position: relative !important;
    margin-top: 24px;
    height: 4px;
  }
}
